
resource_location = "EastUS"
resource_tags = {
  "Environment" = "Dev"
  "Owner"       = "Ops Team"
  "Deployment"  = "Terraform"
}

#Networking Module
rg_spoke                 = "network-vmss-Rg"
rg_hub                   = "Network-Rg" /*This should be an exisiting resource*/
hub_vnet_name            = "Hub-Vnet" /*This should be an exisiting resource*/
spoke_vnet_name          = "vnet-vmss"
spoke_vnet_address_space = ["10.1.0.0/20"]
spoke_subnet_name        = "subne-vmsst"
subnet_address_prefix    = ["10.1.0.0/24"]
nsg_name                 = "Spoke-Nsg"
peer1_name               = "hub-spoke-peer"
peer2_name               = "spoke-hub-peer"

hub_subscription_id   = "9e087dff-9c5b-4650-96ee-19cfe5269c5d"
spoke_subscription_id = "9e087dff-9c5b-4650-96ee-19cfe5269c5d"



# Virtual Machine Scale Set Module
rg_vmss        = "vmss-Rg"
vmss_name      = "vmss"
vmss_sku       = "Standard_D2s_v3"
vmss_count     = 4
admin_username = "adminuser"
admin_password = "P@ssw0rd1234"
nic_name       = "vmss-nic"
ipconfig_name  = "vmss-ipconfig"

